/*  ---- COLORS ---- */

$red: rgba(244, 67, 54, 1.0);

$blue: rgba(33, 150, 243, 1.0);

$green: rgba(76, 175, 80, 1.0);

$yellow: rgba(248, 231, 28, 1.0);

$white: rgba(255, 255, 255, 1.0);




/* ---- Main Font Blacks --- */



$primary: rgba(0, 0, 0, 1.0);

$secondary: rgba(0, 0, 0, 0.7);

$disabled: rgba(0, 0, 0, 0.5);
